.header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: white;
}

.answer-trigger{
    margin-top: 10px;
}

.answer-input{
    width: 80%;
    margin: 10px 0;
    text-align: center;
}

.answer-tr{
    text-align: center;
}
